# Eclipse
.classpath
.project
.settings/

# Build
target/
bin/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local configuration
 src/test/resources/razorpay.properties
 src/test/resources/email.properties
 src/test/resources/gemini.properties